<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="gateway_test_url" value="https://api.securionpay.com/"/>
    <add key="gateway_test_key" value="pr_test_FjW0q2HMs40Jj3KGua5294sp"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>